<!DOCTYPE html>

<html lang="<?php echo $sl;?>">
<head>
<?php echo head();?>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1">
<script src="<?php echo $pth['folder']['template'];?>smoothscroll.js"></script>
</head>

<body id="body" <?php echo onload();?>>
<!-- utf-8 check: äöüß -->
<!-- This is the default template of CMSimple -->
<div id="TOP"><div id="top"></div></div>



<!-- language variables for template -->
<?php
$tpltx_top = 'Top';
$tpltx_content = 'Page Content';
$tpltx_menu = 'Menu and Search';
$tpltx_news = 'News Area';

if($sl == 'de')
{
	$tpltx_top = 'Seitenanfang';
	$tpltx_content = 'Seiteninhalt';
	$tpltx_menu = 'Menü und Suche';
	$tpltx_news = 'Newsbereich';
}
?>



<!-- HEADER -->

<?php
if(!$edit)
{
	echo '<header>
<div id="tplge_headerin">

<div class="tplge_sitename">' . sitename() . '</div>

<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>
</header>
<div style="clear: both;"></div>
';
}
?>

<!-- END HEADER -->



<!-- LOCATOR -->

<?php
if(!$edit)
{
	echo '<div id="tplge_locator">
<nav id="tplge_locatorin">

<span style="font-weight: 700;">' . $tx['locator']['text'] . '</span>' . locator() . '

<div style="clear: both;"></div>
</nav>
<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>
';
}
?>

<!-- END LOCATOR -->



<!-- MAIN CONTAINER -->

<div id="tplge_main">
<div id="tplge_mainin">

<!-- language menu -->
<div class="langmenu_container"><?php echo languagemenu();?></div>
<div style="clear: both;"></div>

<!-- pagenav -->
<nav id="tplge_content_anchor" class="tplge_content_anchor tplge_navintern">
<div class="tplge_button"><a href="#top"><img src="<?php echo $pth['folder']['templateimages']; ?>top_white.gif" alt="<?php echo $tpltx_top;?>" title="<?php echo $tpltx_top;?>"></a></div>
<div class="tplge_button_active"><a href="#tplge_content_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>contentlink.gif" class="tplge_contentlink" alt="<?php echo $tpltx_content;?>" title="<?php echo $tpltx_content;?>"></a></div>
<div class="tplge_button"><a href="#tplge_menu_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>menulink.gif" alt="<?php echo $tpltx_menu;?>" title="<?php echo $tpltx_menu;?>"></a></div>
<div class="tplge_button"><a href="#tplge_news_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>newslink.gif" alt="<?php echo $tpltx_news;?>" title="<?php echo $tpltx_news;?>"></a></div>
<div class="tplge_clearBoth"></div>
</nav>

<nav class="tplge_navinternLocator"><?php echo $tx['locator']['text'] . $tpltx_content;?></nav>



<!-- CONTENT -->

	<div id="tplge_content">
	<article class="tplge_contentin">

<?php echo editmenu();?>
<?php echo content();?>
<?php echo submenu();?>

		<div id="tplge_prevtopnext">
		<nav id="tplge_prevtopnextin">
<?php echo previouspage('prev.gif');?>
<?php echo top('top.gif');?>
<?php echo nextpage('next.gif');?>
		<div style="clear: both;"></div>
		</nav>
		<div style="clear: both;"></div>
		</div>

	<div style="clear: both;"></div>
	</article>
	<div style="clear: both;"></div>
	</div>

<!-- END CONTENT -->



<!-- SIDEBAR NAV -->

	<div id="tplge_sidebar1">
	<nav id="tplge_sidebar1in">

<!-- pagenav -->
<nav id="tplge_menu_anchor" class="tplge_menu_anchor tplge_navintern">
<div class="tplge_button"><a href="#top"><img src="<?php echo $pth['folder']['templateimages']; ?>top_white.gif" alt="<?php echo $tpltx_top;?>" title="<?php echo $tpltx_top;?>"></a></div>
<div class="tplge_button"><a href="#tplge_content_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>contentlink.gif" class="tplge_contentlink" alt="<?php echo $tpltx_content;?>" title="<?php echo $tpltx_content;?>"></a></div>
<div class="tplge_button_active"><a href="#tplge_menu_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>menulink.gif" alt="<?php echo $tpltx_menu;?>" title="<?php echo $tpltx_menu;?>"></a></div>
<div class="tplge_button"><a href="#tplge_news_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>newslink.gif" alt="<?php echo $tpltx_news;?>" title="<?php echo $tpltx_news;?>"></a></div>
<div class="tplge_clearBoth"></div>
</nav>

<nav class="tplge_navinternLocator"><?php echo $tx['locator']['text'] . $tpltx_menu;?></nav>

<!-- searchbox -->
<div id="tplge_searchboxContainer" class="tplge_searchboxContainer">
<?php echo str_replace('class="submit" value="' . $tx['search']['button'],'class="submit" title="' . $tx['search']['button'] . '" value="' . $tx['search']['button'],searchbox());?>
</div>
<div class="tplge_clearBoth"></div>

<?php echo toc();?>
<div class="subnav">
<?php echo homelink('homelink.gif');?>
<?php echo printlink('printlink.gif');?>
<?php echo sitemaplink('sitemaplink.gif');?>
<?php echo mailformlink('mailformlink.gif');?>
</div>

<?php // echo '<p class="tplge_lastupdate">' . lastupdate() . '</p>';?>

	<div style="clear: both;"></div>
	</nav>
	<div style="clear: both;"></div>
	</div>

<!-- END SIDEBAR NAV -->



<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>

<!-- END MAIN CONTAINER --> 



<!-- NEWS AREA -->

<div id="tplge_newsArea">
<aside>

<!-- pagenav -->
<nav id="tplge_news_anchor" class="tplge_news_anchor tplge_navintern">
<div class="tplge_button"><a href="#top"><img src="<?php echo $pth['folder']['templateimages']; ?>top_white.gif" alt="<?php echo $tpltx_top;?>" title="<?php echo $tpltx_top;?>"></a></div>
<div class="tplge_button"><a href="#tplge_content_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>contentlink.gif" class="tplge_contentlink" alt="<?php echo $tpltx_content;?>" title="<?php echo $tpltx_content;?>"></a></div>
<div class="tplge_button"><a href="#tplge_menu_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>menulink.gif" alt="<?php echo $tpltx_menu;?>" title="<?php echo $tpltx_menu;?>"></a></div>
<div class="tplge_button_active"><a href="#tplge_news_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>newslink.gif" alt="<?php echo $tpltx_news;?>" title="<?php echo $tpltx_news;?>"></a></div>
<div class="tplge_clearBoth"></div>
</nav>

<nav class="tplge_navinternLocator"><?php echo $tx['locator']['text'] . $tpltx_news;?></nav>

<!-- newsboxes -->
	<div class="tplge_news">
	<div class="tplge_newsin">
<?php echo newsbox('News01');?>
<div style="clear: both;"></div>
	</div>
	</div>

	<div class="tplge_news">
	<div class="tplge_newsin">
<?php echo newsbox('News02');?> 
<div style="clear: both;"></div>
	</div>
	</div>

	<div class="tplge_news">
	<div class="tplge_newsin">
<?php echo newsbox('News03');?>
<div style="clear: both;"></div>
	</div>
	</div>

<!-- pagenav -->
<nav class="tplge_news_anchor tplge_navintern">
<div class="tplge_button"><a href="#top"><img src="<?php echo $pth['folder']['templateimages']; ?>top_white.gif" alt="<?php echo $tpltx_top;?>" title="<?php echo $tpltx_top;?>"></a></div>
<div class="tplge_button"><a href="#tplge_content_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>contentlink.gif" class="tplge_contentlink" alt="<?php echo $tpltx_content;?>" title="<?php echo $tpltx_content;?>"></a></div>
<div class="tplge_button"><a href="#tplge_menu_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>menulink.gif" alt="<?php echo $tpltx_menu;?>" title="<?php echo $tpltx_menu;?>"></a></div>
<div class="tplge_button"><a href="#tplge_news_anchor"><img src="<?php echo $pth['folder']['templateimages']; ?>newslink.gif" alt="<?php echo $tpltx_news;?>" title="<?php echo $tpltx_news;?>"></a></div>
<div class="tplge_clearBoth"></div>
</nav>

<div style="clear: both;"></div>
</aside>
<div style="clear: both;"></div>
</div>
<div style="clear: both;"></div>

<!-- END NEWS AREA --> 



<!-- FOOTER -->

<footer>
<div id="tplge_footerin">
<p>
Powered&nbsp;by&nbsp;<a href="https://www.cmsimple.org/">CMSimple</a> | 
Template&nbsp;by&nbsp;<a href="https://cmsimple.org/">CMSimple</a> | 
<?php echo loginlink();?>
</p>
<div style="clear: both;"></div>
</div>
</footer>

</body>
</html>